*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
  background-color: black;
  color: white;
}

header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

h1{
  font-size: 30px;
  color: #b74b4b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
h1:hover{
  transform: scale(1.1);
}
nav a{
  color: white;
  font-size: 1.8rem;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
nav a:hover{
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}


.container{
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#navbar .nav-list{
  list-style: none;
  display: flex;
}

.nav-link{
  text-decoration: none;
}

.nav-i{
  margin-left: 20px;
}



#home{
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}
#caleb{
  font-size: 50px;
}

#projects{
  
  position: absolute;
  top: 1000px;
}

#contact{
  
  position: absolute;
  top: 2100px;
}


.profile-pic{
  width: 30%;
  float:right;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 25px #b74b4b ;

}


.home-a{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
}
.home-b{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  
}
.home-c{
  margin-bottom: 5px;
}
.home-button{
  
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 20px;
  margin-left: 150px;
  font-weight: bold;
}

.about-a{
  font-weight: bold;
  font-size: 20px;
}
.about-b{
  font-weight: bold;
  font-size: 40px;
}

.project-pic{
  width: 30%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 25px #b74b4b ;
}

#projects > div{

display: grid;
row-gap: 40px;
}
.project-pic{
  float: left;
}

#contact > div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.test1{

  margin-bottom: 1rem;
  font-weight: 700;
}

.b{
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #b74b4b;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}
.b:hover{
  transform: scale3d(1.03);
  background-color: #b74b4b;
  color: black;
  box-shadow: 0 0 25px #b74b4b;
}













  


