*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
}

#main-header{
background-color: darkgrey;
color: white;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar .nav-list{
  list-style: none;
  display: flex;
}

.nav-link{
  text-decoration: none;
}

.nav-i{
  margin-left: 20px;
}


#about{
  background-color: aquamarine;
  position: relative;
  top: 100px;
  
}

#projects{
  background-color: blue;
  position: absolute;
  top: 4000px;
}

#contact{
  background-color: brown;
  position: absolute;
  top: 800px;
}

.profile-pic{
  width: 30%;
  float:right;
}

.test1 p{
  padding-left: 80px;
  padding-right: 20px;
  
}

.a{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.b{
  font-weight: bold;
  margin-bottom: 5px;
}
.c{
  font-size: 15px;
}
h2{
  position: absolute;
  top: 1px;
  left: 10px;
  
}
  


